:root {
  --basic-grey: #293449;
  --basic-greywhite: #32425C;
  --basic-green: #63A63E;
  --basic-red: #EE3643;
  --basic-white: #FFFFFF;
  --basic-silverwhite: #F9F5F0;
  --basic-silver: #A9A9A9;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-black: #000000;
  --special-green: #518534;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --cuurent: #161D29;
  --press: #1D2739;
  --aiming: #CA2C37;
  --checkbox: #B5B5B5;
  --border: #E5E5E5;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--basic-white);
  text-decoration: none;
}

.main-header {
  background: var(--basic-background);
}

.tabs-list {
  list-style-type: none;
  color: var(--basic-white);
  background-color: var(--basic-grey);
}

/*Убирает подчеркиванеи у всех ссылок на главной*/

.tabs-list a, 
.site-navigation a {
  text-decoration: none;
  color: var(--basic-white);
}

.header-info {
  list-style-type: none;
}

.header-info p {
  color: var(--basic-red);
}

.address-phone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: none;
  color: var(--basic-red);
}

.address-street {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
}

.login-link, 
.registration {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
}

.site-navigation {
  list-style: none;
  background: var(--basic-greywhite);
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-red);
}

.site-navigation a:hover, 
.site-navigation a:focus {
  background-color: var(--basic-grey);
}

.main-header-logo:hover, 
.main-header-logo:focus {
  background-color: var(--basic-grey);
}

.site-navigation a:active {
  background-color: var(--press);
}


.button-checkout {
  background-color: var(--basic-green);
}

.button-checkout:hover,
.button-checkout:focus {
  background-color: var(--success);
}

.button-checkout:active {
  opacity: 50%;
}

.main-header-logo:active,
.tabs-list a:active {
  background-color: var(--cuurent);
  opacity: 50%;
}

.login-link:hover,
.registration:hover {
  color: var(--basic-red);
}

.login-link:active,
.registration:active {
  opacity: 50%;
  color: var(--basic-black);
}

.container {
  background-color: var(--basic-white);
}

.promo-list {
  list-style: none;
  text-align: center;
}

.promo-list a {
  text-decoration: none;
  color: var(--basic-white);
}

.promo-item h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-item-1 {
  background-color: var(--special-yellow);
}

.promo-item-2 {
  background-color: var(--special-blue);
}

.promo-item-3 {
  background-color: var(--special-lilac);
}

.promo-item-4 {
  background-color: var(--special-greenlight);
}

.promo-item-5 {
  background-color: var(--special-yellow);
}

.slider img {
  max-width: 100%;
  height: auto;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  text-decoration: none;
}

.button:hover, 
.button:focus {
  background-color: var(--aiming);
}

.button:hover, 
.button:active {
  background-color: var(--error);
}

/*.button.disabled, .button:disabled {
  cursor: default;
  opacity: 0,5;
  background-color: black;
}*/

.decor-brand {
  background-color: var(--basic-silverwhite);
}

.special-offers-list a {
  text-decoration: none;
}

.special-offers h2, 
.brand-logo h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-greywhite);
  text-transform: uppercase;
}

.special-offers-list h3 {
  font-family: "PTsans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  font-weight: 700;
}

.special-offers-item p {
  font-family: "PTsans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-silver);
  font-weight: 700;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.service h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/* Убрает булеты у списков*/

.service-list, 
.about-us-list {
  list-style-type: none;
}

.service p {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.decor-service {
  background: var(--basic-background);
}

.about-us h3, 
.contacts h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.about-us p, 
.contacts p {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

.about-us-item {
  list-style-type: none;
  color: var(--basic-black);
}

/* Начало каталога*/

.user {
  list-style: none;
}

.user a {
  text-decoration: none;
}

.user-icon a {
  color: var(--basic-black);
}

.user p {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.user-orders a,
.user-personal-area a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-greywhite);
}

.user-orders a:hover,
.user-personal-area a:hover{
  color: var(--basic-red);
}

.user-orders a:active,
.user-personal-area a:active,
.user-icon a:active {
  color: var(--basic-greylight);
}

.page-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-greywhite); 
}

.decor-page-title {
  background-color: var(--basic-background);
}

.breadcrumbs {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs a {
  text-decoration: none;
  color: var(--basic-black);
}

.filters h3 {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  font-weight: normal;
  text-transform: uppercase;
}

.filter legend {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filter ul {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none;
}

.filter-input-checkbox:hover {
  color: var(--checkbox);
}

.sorting {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.sorting ul {
  list-style: none;
}

.sorting a {
  color: var(--basic-black);
  opacity: 30%;
  text-decoration: none;
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-type:hover,
.sorting-type:focus {
  opacity: 100%;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sorting-type-active:active {
  opacity: 100%;
  border: 0;
  color: var(--basic-red);
}

.catalog ul {
  list-style: none;
}

.catalog-list p {
  font-family: "PTsans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-silver);
  font-weight: 700;
  text-decoration-line: line-through;
  text-transform: uppercase;
}

.catalog-list a {
  text-decoration: none;
}

.catalog-list h3 {
  font-family: "PTsans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: var(--basic-black);
  list-style: none;
}

.button-bay,
.button-bookmarks {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-green);
  width: 135px;
  height: 38px;
  border: none;
  border-radius: 2px;
}

.button-bookmarks {
  color: var(--basic-greywhite);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
}

.button-bay:hover {
  background-color: var(--success);
}

.button-bay:focus {
  background-color: var(--special-green);
}

.button-bookmarks:hover {
  border: 3px solid var(--basic-greywhite);
}

.button-bookmarks:focus,
.button-bookmarks:active {
  border: 3px solid var(--basic-greywhite);
  background-color: var(--basic-white);
  opacity: 50%;
}

.catalog-modal {
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.price-button {
  font-family: "PTsans", "Arial", "Helvetica", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-align: center;
  text-transform: uppercase;
}

.pagination-list ul {
  list-style: none;
}

.pagination-list a {
  text-decoration: none;
}

.pagination-item a  {
  font-family: "PTsans", "Arial", "Helvetica", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--border);
  border-radius: 2px;
  text-transform: uppercase;
}


.pagination-item a:active {
  border: 1px solid var(--basic-red); 
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  border-radius: 1px;
}

.decor-presentation {
  background-color: var(--basic-background);

}

.presentation h3{
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.presentation p {
  font-family: "PTsans", "Arial", "Helvetica", sans-serif; 
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
}

/* конец каталога*/

.social-list {
  list-style-type: none;
}

.decor-footer {
  background: var(--basic-greywhite);
}

.decor-footer-down {
  background: var(--basic-grey);
}

.footer-site-navigation, 
.footer-catalog-navigation {
  list-style-type: none;
}

.footer-site-navigation a {
  text-decoration: none;
  color: var(--basic-white);
}

.footer-site-navigation a:hover,
.footer-catalog-navigation a:hover {
  text-decoration-line: underline;
}

.footer-site-navigation a:active,
.footer-catalog-navigation a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-catalog-navigation a {
  text-decoration: none;
  color: var(--special-yellowlight);
}

/* как правильно отрисовать круги?? через css, а иконки просто 
вставить, или как то изображением??? 
.social-button a:hover {
  color: var(--basic-red);
}
 */
.license {
  font-size: 16px;
  line-height: 18px;
}

.footer-address a {
  text-decoration: none;
  color: var(--basic-white);
}

.footer-feedback a, 
.footer-copyright a {
  text-decoration: none;
  color: var(--special-yellowlight);
}

.footer-feedback p {
  font-size: 16px;
  line-height: 18px;
}

.footer-feedback a:hover {
  text-decoration-line: underline;
}

.footer-feedback a:focus {
  color: var(--basic-red);
  text-decoration: none; 
}

.modal {
  color: var(--basic-black);
}